// .modal-header {
//     justify-content: right;
//     border-bottom: 0;

//     .modal-close-button {
//         padding: 5px;
//         cursor: pointer;
//         border-radius: 50%;

//         &:hover {
//             background-color: #e7e7e7;
//         }
//     }
// }

// .modal-body {
//     font-family: "Segoe UI", system-ui, sans-serif;
// }

// .modal-footer {
//     justify-content: center;

//     i {
//         cursor: pointer;
//         color: var(--font-secondary-color);

//         &.disabled {
//             opacity: 0.6;
//             filter: grayscale(0.1);
//             pointer-events: none;
//             -webkit-touch-callout: none;
//             -webkit-user-select: none;
//             -khtml-user-select: none;
//             -moz-user-select: none;
//             -ms-user-select: none;
//             user-select: none;
//         }
//     }

//     span {
//         border: 1px solid;
//         border-radius: 50%;
//         height: 10px;
//         width: 10px;
//         cursor: pointer;
//         color: var(--font-secondary-color);

//         &.highlight {
//             background-color: var(--font-secondary-color);
//         }
//     }
// }

.hero {
    .hero-text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;

        @media (max-width: 767px) {
            text-align: center;
        }

        .primary-text-wrapper {
            @media (min-width: 1200px) {
                padding: 0 4rem 0 4rem;
            }
        }

        .hero-button-wrapper {
            padding: 2rem 0;

            @media (min-width: 1200px) {
                padding: 2rem 4rem 0 4rem;
            }

            button:nth-child(2) {
                margin-left: 10px;

                @media (max-width: 325px) {
                    margin-top: 10px;
                }
            }
        }
    }

    .hero-image-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2rem;

        .image-container {
            border: 1px solid #dad5ff;
            border-radius: 50%;
            background: #dad5ff;
            box-shadow: inset 0 0 0 10px #eee;
            position: relative;

            .connect-1 {
                background: rgba(255, 255, 255, 0.25);
                box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
                backdrop-filter: blur(2px);
                -webkit-backdrop-filter: blur(4px);
                border-radius: 10px;
                border: 15px solid rgba(255, 255, 255, 0.18);
                font-weight: 500;
                position: absolute;
                top: 20px;
                left: 10px;
                cursor: pointer;

                img {
                    width: 20px;
                }

                &:hover {
                    background: #fff;
                }
            }

            .connect-2 {
                background: rgba(255, 255, 255, 0.25);
                box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
                backdrop-filter: blur(2px);
                -webkit-backdrop-filter: blur(4px);
                border-radius: 10px;
                border: 15px solid rgba(255, 255, 255, 0.18);
                font-weight: 500;
                position: absolute;
                bottom: 20px;
                right: 10px;
                cursor: pointer;

                img {
                    width: 20px;
                }

                &:hover {
                    background: #fff;
                }
            }
        }
    }
}

.content-header-wrapper {
    margin-bottom: 5%;
    background-color: var(--secondary-background-color);

    .content-header-text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;

        .content-header-text {
            font-family: var(--font-family-heading);
            font-weight: 900;
            padding: 4rem;
        }
    }

    .content-header-image-wrapper {
        text-align: center;
        position: relative;

        img {
            width: 75%;
        }
    }
}

.contents {
    font-family: "Segoe UI", system-ui, sans-serif;

    .education-content {
        .card {
            height: 100%;
            text-align: center;
            border: 0;
            border-radius: 1.25rem;
            -webkit-box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
            -moz-box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
            box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;

            .social-media-user {
                text-align: left;
                display: flex;
                align-items: center;
                padding: 10px;

                .profile-picture {
                    height: 2rem;
                    width: 2rem;
                }

                .user-details {
                    padding-left: 8px;

                    div:nth-child(1) {
                        font-weight: 600;
                        font-size: 0.8rem;
                    }

                    div:nth-child(2) {
                        font-size: 0.7rem;
                        font-weight: 300;
                    }
                }

                .options-mock {
                    margin-left: auto;

                    div {
                        border: 1px solid #d7e0eb;
                        border-radius: 50%;
                        height: 5px;
                        width: 5px;
                        background: #d7e0eb;
                        margin-right: 3px;
                        display: inline-block;
                    }
                }
            }

            .card-image {
                margin: 0 10px;
                padding: 10px;
                border: 1px solid #dee2e6;
                border-radius: 10px;
                position: relative;

                img {
                    height: 185px;
                }

                .likes {
                    position: absolute;
                    text-align: left;
                    left: 15px;
                    bottom: 15px;
                    right: 15px;
                    padding: 5px;
                    background: rgba(255, 255, 255, 0.05);
                    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                    backdrop-filter: blur(2.5px);
                    -webkit-backdrop-filter: blur(2.5px);
                    border-radius: 10px;
                    border: 1px solid rgba(255, 255, 255, 0.18);
                }
            }

            .card-body {
                .card-text {
                    margin-bottom: 25px;
                    text-align: left;
                    font-size: 0.9rem;

                    div {
                        padding-bottom: 10px;
                        font-size: 0.8rem;
                    }

                    span {
                        font-weight: 600;

                        &:nth-child(2) {
                            font-weight: 700;
                        }

                        &:nth-child(3) {
                            color: var(--font-secondary-color);
                        }
                    }
                }
            }
        }

        .col-md-4:nth-child(1) {
            .card-image {
                background-color: aliceblue;
            }
        }

        .col-md-4:nth-child(2) {
            .card-image {
                background-color: honeydew;
            }
        }

        .col-md-4:nth-child(3) {
            .card-image {
                background-color: #fff0ff;
            }
        }
    }

    .experience-content {
        .card {
            height: 100%;
            text-align: center;
            border: 0;
            border-radius: 1.25rem;
            -webkit-box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
            -moz-box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
            box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;

            .social-media-user {
                text-align: left;
                display: flex;
                align-items: center;
                padding: 10px;

                .profile-picture {
                    height: 2rem;
                    width: 2rem;
                }

                .user-details {
                    padding-left: 8px;

                    div:nth-child(1) {
                        font-weight: 600;
                        font-size: 0.8rem;
                    }

                    div:nth-child(2) {
                        font-size: 0.7rem;
                        font-weight: 300;
                    }
                }

                .options-mock {
                    margin-left: auto;

                    div {
                        border: 1px solid #d7e0eb;
                        border-radius: 50%;
                        height: 5px;
                        width: 5px;
                        background: #d7e0eb;
                        margin-right: 3px;
                        display: inline-block;
                    }
                }
            }

            .card-body {
                .card-text {
                    text-align: left;

                    span {
                        font-weight: 600;
                        color: var(--font-secondary-color);
                    }

                    img {
                        border-bottom-left-radius: 25%;
                        border-bottom-right-radius: 25%;
                        width: 250px;
                    }

                    .linkedin-likes {
                        padding-top: 1rem;

                        div {
                            display: inline-block;
                            border-radius: 50%;
                            background: white;
                        }

                        div:nth-child(2) {
                            margin-left: -3px;
                        }

                        .count {
                            color: #7c7c7c;
                            font-size: 0.9rem;
                            padding-left: 0.2rem;
                        }
                    }

                    .linkedin-new-pos {
                        padding-top: 1rem;
                        font-weight: 600;
                        color: #88898b;
                    }

                    .linkedin-options {
                        border-top: 1px solid #d7e0eb;
                        margin-top: 1rem;
                        padding-top: 1rem;

                        i {
                            color: #606060;
                        }

                        @media (max-width: 326px) {
                            font-size: 0.8rem;
                            i {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .skills-content {
        .code {
            box-shadow: 5px 5px 15px 0px;
        }

        .card {
            height: 100%;
            text-align: center;
            border: 0;
            border-radius: 1.25rem;
            -webkit-box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
            -moz-box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
            box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;

            .card-body {
                .card-text {
                    text-align: left;

                    .skill-header-icon {
                        height: 4rem;
                        width: 4rem;
                        background-color: #ececec;
                        border-radius: 50%;
                        align-items: center;
                        justify-content: center;
                        margin-left: 1rem;
                        margin-bottom: 1rem;
                        box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
                        display: inline-flex;

                        i {
                            font-size: 2rem;
                        }
                    }

                    .skill-heading {
                        padding-left: 1rem;
                        font-family: var(--font-family-heading);
                        font-weight: 900;
                        font-size: 2rem;
                        display: inline-block;
                    }

                    .skill-body {
                        padding-left: 1rem;
                        padding-top: 1rem;

                        div {
                            padding-bottom: 0.5rem;

                            i {
                                color: limegreen;
                            }
                        }
                    }
                }
            }
        }
    }

    .achievements-content {
        .code {
            box-shadow: 5px 5px 15px 0px;
        }

        .card {
            height: 100%;
            text-align: center;
            border: 0;
            border-radius: 1.25rem;
            -webkit-box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
            -moz-box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
            box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;

            .award-image {
                padding-top: 2rem;

                img {
                    width: 20% !important;
                }
            }

            .card-body {
                .card-text {
                    .card-text-heading {
                        font-weight: 600;
                        color: #666666;
                        margin-bottom: 10px;
                        padding-bottom: 10px;
                        border-bottom: 1px solid #c1c1c1;
                    }

                    color: #666666;
                }
            }
        }

        .award-rich-content {
            -webkit-text-fill-color: white;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
            font-weight: 900;
            font-size: 8rem;

            h3 {
                margin-bottom: 5%;
            }

            @media (max-width: 730px) {
                font-size: 5rem;
            }

            @media (max-width: 465px) {
                font-size: 3rem;
            }
        }
    }

    .contact-content {
        .content-header-wrapper {
            margin-bottom: 0;
        }

        .card {
            height: 100%;
            text-align: center;
            border: 0;
            border-radius: 1.25rem;
            -webkit-box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
            -moz-box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
            box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
            background-color: var(--secondary-background-color);
            padding-bottom: 1rem;

            .contact-image {
                padding-top: 2rem;

                img {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    border: 1px solid #cdcdcd;
                    background: #262626;
                }
            }

            .card-body {
                .card-text {
                    .card-text-heading {
                        font-weight: 600;
                        font-size: 1.5rem;
                        padding-bottom: 10px;
                    }

                    .card-text-body {
                        font-style: italic;

                        .card-text-icons {
                            .icon-container {
                                background: #dddddd;
                                padding: 1rem;
                                border-radius: 50%;
                                margin: 0.2rem;
                                cursor: pointer;

                                &:hover {
                                    background: #c3c3c3;
                                }
                            }

                            img {
                                width: 2rem;
                            }
                        }
                    }
                }
            }
        }

        .contact-me-heading {
            font-family: var(--font-family-heading);
            font-weight: 900;
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        .contact-me-body {
            button {
                padding: 0.5rem 1.2rem 0.5rem 1.2rem;
            }
        }
    }
}

.typewriter {
    border-right: 0.15em solid #fff;
    animation: typing 2.5s steps(12, end), blink-caret 0.4s step-end infinite;
    margin-left: 2px;
}

.wave-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 8rem;
    }

    .shape-fill {
        fill: #fbfbfb;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: #fff;
    }
}
